body {
    background-color: #368BC1;
    color: white;
    font-size: 20px;
    font-family: Consolas;
    display: grid;
    place-items: center;
}

/* Links, kurš pāriet uz bērnu vēstulēm */
.link {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
a {
    padding: 10px 20px;
    background-color: #368BC1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}
a:hover {
    background-color: #2A6A9A;
    transform: scale(1.05);
}

/* container ar visu list */
.container {
    text-align: center;
    background-color: #c3e1ff;
    color: #0056b3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 1100px;
    width: 90%;
}
ol {
    padding: 0;
    list-style-position: inside;
    column-count: 2;
    column-gap: 20px;
}
.gift-list {
    list-style-type: none; /* Noņem default list markers */
    padding: 0;
}
.gift-list li {
    position: relative;
    padding-left: 30px;
}
.gift-list li::before {
    content: '🎁 ';
    font-size: 20px;
    line-height: 1; /* Vienā līnjā ar tekstu */
}
span {
    font-weight: bold;
}
