body {
    background-color: #368BC1;
    color: white;
    font-size: 20px;
    font-family: Consolas;
    display: grid;
    place-items: center;
    padding: 20px;
}

/* links, kurš pāriet uz dāvanu sarakstu */
.link {
    text-align: center;
    margin-top: 20px;
}
a {
    padding: 10px 20px;
    background-color: #368BC1;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}
a:hover {
    background-color: #2A6A9A;
    transform: scale(1.05);
}

/* container ar visu list */
.container {
    text-align: center;
    background-color: #c3e1ff;
    color: #0056b3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 1100px;
    width: 90%;
}
ol {
    padding: 0;
    list-style-position: inside;
    column-count: 2;
    column-gap: 20px;
}
li {
    margin: 10px 0; /* Space between list items */
    font-size: 22px;
}
ol li::marker {
    font-weight: bold; /* Make the list item numbers bold */
}
span {
    font-weight: bold;
}